@import 'base';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'vue-datepicker-next/index.css';
@import 'vue-sidebar-menu/dist/vue-sidebar-menu.css';
@import 'font-awesome/css/font-awesome.min.css';

.v-sidebar-menu {
  .vsm--toggle-btn {
    order: -1;
    .vsm--toggle-btn_default {
      display: none;
    }
    &:after {
      content: '\f0c9';
      font-family: 'FontAwesome';
    }
  }
  &.vsm_expanded {
    .vsm--toggle-btn {
      justify-content: space-between;
      padding: 5px 20px;
      &:before {
        content: 'Musitix後台';
        font-weight: bold;
      }
    }
  }
  .vsm--icon {
    background-color: whitesmoke !important;
    color: black !important;
  }
  .vsm--mobile-bg {
    background-color: var(--darken-color);
  }
}
